html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

.common, .color1 div:nth-child(1), .color1 div:nth-child(2), .color1 div:nth-child(3), .color1 div:nth-child(4), .color1 div:nth-child(5), .color1 div:nth-child(6), .color1 div:nth-child(7), .color div:nth-child(1), .color div:nth-child(2), .color div:nth-child(3), .color div:nth-child(4), .color div:nth-child(5), .color div:nth-child(6), .color div:nth-child(7) {
  height: 100px;
  width: 100px;
  display: inline-block; }

.color1 div:nth-child(1) {
  background-color: #660000; }

.color1 div:nth-child(2) {
  background-color: #990000; }

.color1 div:nth-child(3) {
  background-color: #cc0000; }

.color1 div:nth-child(4) {
  background-color: red; }

.color1 div:nth-child(5) {
  background-color: #ff3333; }

.color1 div:nth-child(6) {
  background-color: #ff6666; }

.color1 div:nth-child(7) {
  background-color: #ff9999; }

.color div:nth-child(1) {
  background-color: black; }

.color div:nth-child(2) {
  background-color: #1a001a; }

.color div:nth-child(3) {
  background-color: #4d004d; }

.color div:nth-child(4) {
  background-color: purple; }

.color div:nth-child(5) {
  background-color: #b300b3; }

.color div:nth-child(6) {
  background-color: #e600e6; }

.color div:nth-child(7) {
  background-color: #ff1aff; }
